<html lang="en">
  <head>
    <title>Movies</title>
  </head>

  <body>

    <h1> Movies </h1>

    ----------------------------------------------------------------------------------
    </br>
    ----------------------------------------------------------------------------------
      <ul>
        <li><h2> Title </h2></li>
          <ul><li> Year Released | Studio | Rating | Genre</li></ul>
      </ul>
    ----------------------------------------------------------------------------------
    </br>
    ----------------------------------------------------------------------------------
      </br></br>

    <% @movies_sort.each do |movie| %>
      <ul>
        <li><h2><a href = "movies/<%=movie["id"]%>"><%=movie["title"]%></a></h2></li>
          <ul>
            <li><%=movie["year"]%> | <%=movie["studio"]%> | <%=movie["rating"]%> | <%=movie["genre"]%></li>
          </ul>
      </ul>
        </br></br>
    <% end %>


  </body>
</html>
